<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/a610948/IdeaProjects/CS_FrameworkSeleniumJava"><classes><class name="com.qa.testcases.TC_MyAccountPageTest"><methods><include name="verifyRegistrationandLogin"/></methods></class></classes></test></suite>